@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #333F4E;
}

.dark {
  --background: #000000;
  --foreground: #CCC0B1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}